<!-- Banner -->
<section id="banner">
    <div class="inner">
        <h2>{{ page.banner.title | newline_to_br }}</h2>
        {% if page.banner.actions %}
            <ul class="actions special">
                {% for action in page.banner.actions %}
                    <li><a href="{% assign expr_1 = action.url | starts_with: '#' %}{% if expr_1 %}{{ action.url }}{% else %}{{ action.url | link | relative_url }}{% endif %}" class="button{% if action.is_primary %} primary{% endif %}{% if action.is_scrolly %} scrolly{% endif %}">{{ action.label }}</a></li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
</section>
